* {
    margin: 0;
    padding: 0;
    
}




body{
    background-color: lightblue;

}


.division{
    background-color: white;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(1, 0, 0, 0.5);
    border: gray solid 2px;
} 

.first children{
    padding: 5px;
    border: 2px solid black;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    
}
#first children-heading{    
    text-align: center;
    
}
#second children-heading{
    text-align: center;
    
}



